# Add files here to ignore them from prettier formatting
dist
coverage
.next
pnpm-lock.yaml
apps/wealth-management-legacy
apps/cloudinary-photos-app
apps/portfolio-landpage
libs/wealth-management-legacy
libs/cloudinary-photos-app
libs/portfolio-landpage
